<!-- Loader Start -->
<app-full-loader></app-full-loader>
<!-- Loader End -->

<!-- Header Start -->
<header class="pb-md-4 pb-0">
    <app-header></app-header>
    <app-menu></app-menu>
</header>
<!-- Header End -->

<!-- mobile fix menu start -->
<app-mobile-menu></app-mobile-menu>
<!-- mobile fix menu end -->

<!--Other pages landup here-->
<router-outlet></router-outlet>
<!--end other pages landup here-->

<!-- Cookie Bar Box Start -->
<div class="cookie-bar-box" [class.hide]="isHideCookie">
    <div class="cookie-box">
        <div class="cookie-image">
            <img src="assets/images/cookie-bar.png" class="blur-up lazyload" alt="">
            <h2>Cookies!</h2>
        </div>

        <div class="cookie-contain">
            <h5 class="text-content">We use cookies to make your experience better</h5>
        </div>
    </div>

    <div class="button-group">
        <button class="btn privacy-button">Privacy Policy</button>
        <button class="btn ok-button" (click)="isHideCookie=true">OK</button>
    </div>
</div>
<!-- Tap to top start -->
<app-theme></app-theme>
<!-- Tap to top end -->

<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->