

<div class="container-fluid-lg">
    <div class="row">
        <div class="col-12">
            <div class="header-nav">
                <div class="header-nav-left">
                    <button class="dropdown-category">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-align-left">
                            <line x1="17" y1="10" x2="3" y2="10"></line>
                            <line x1="21" y1="6" x2="3" y2="6"></line>
                            <line x1="21" y1="14" x2="3" y2="14"></line>
                            <line x1="17" y1="18" x2="3" y2="18"></line>
                        </svg>
                        <span>All Categories</span>
                    </button>

                    <div class="category-dropdown">
                        <div class="category-title">
                            <h5>Categories</h5>
                            <button type="button" class="btn p-0 close-button text-content">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>

                        <ul class="category-list">
                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="../assets/svg/1/vegetable.svg" alt="">
                                    <h6>Vegetables &amp; Fruit</h6>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>Organic Vegetables</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Potato &amp; Tomato</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Cucumber &amp; Capsicum</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Leafy Vegetables</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Root Vegetables</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Beans &amp; Okra</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Cabbage &amp; Cauliflower</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Gourd &amp; Drumstick</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Specialty</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>Fresh Fruit</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Banana &amp; Papaya</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Kiwi, Citrus Fruit</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Apples &amp; Pomegranate</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Seasonal Fruits</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Mangoes</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Fruit Baskets</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="../assets/svg/1/cup.svg" alt="">
                                    <h6>Beverages</h6>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>

                                <div class="onhover-category-box w-100">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>Energy &amp; Soft Drinks</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Soda &amp; Cocktail Mix</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Soda &amp; Cocktail Mix</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Sports &amp; Energy Drinks</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Non Alcoholic Drinks</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Packaged Water</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Spring Water</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Flavoured Water</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="../assets/svg/1/meats.svg" alt="">
                                    <h6>Meats &amp; Seafood</h6>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>Meat</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Fresh Meat</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Frozen Meat</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Marinated Meat</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Fresh &amp; Frozen Meat</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>Seafood</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Fresh Water Fish</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Dry Fish</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Frozen Fish &amp; Seafood</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Marine Water Fish</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Canned Seafood</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Prawans &amp; Shrimps</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Other Seafood</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="../assets/svg/1/breakfast.svg" alt="">
                                    <h6>Breakfast &amp; Dairy</h6>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>Breakfast Cereals</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Oats &amp; Porridge</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Kids Cereal</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Muesli</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Flakes</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Granola &amp; Cereal Bars</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Instant Noodles</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Pasta &amp; Macaroni</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Frozen Non-Veg Snacks</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>Dairy</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Milk</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Curd</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Paneer, Tofu &amp; Cream</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Butter &amp; Margarine</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Condensed, Powdered Milk</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Buttermilk &amp; Lassi</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Yogurt &amp; Shrikhand</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Flavoured, Soya Milk</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="../assets/svg/1/frozen.svg" alt="">
                                    <h6>Frozen Foods</h6>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>

                                <div class="onhover-category-box w-100">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>Noodle, Pasta</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Instant Noodles</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Hakka Noodles</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Cup Noodles</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Vermicelli</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Instant Pasta</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="../assets/svg/1/biscuit.svg" alt="">
                                    <h6>Biscuits &amp; Snacks</h6>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>Biscuits &amp; Cookies</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Salted Biscuits</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Marie, Health, Digestive</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Cream Biscuits &amp; Wafers</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Glucose &amp; Milk Biscuits</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Cookies</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>Bakery Snacks</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Bread Sticks &amp; Lavash</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Cheese &amp; Garlic Bread</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Puffs, Patties, Sandwiches</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Breadcrumbs &amp; Croutons</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="../assets/svg/1/grocery.svg" alt="">
                                    <h6>Grocery &amp; Staples</h6>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>Grocery</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Lemon, Ginger &amp; Garlic</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Indian &amp; Exotic Herbs</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Vegetables</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Fruits</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>Organic Staples</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Organic Dry Fruits</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Dals &amp; Pulses</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Millet &amp; Flours</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Sugar, Jaggery</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Masalas &amp; Spices</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Rice, Other Rice</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Flours</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Organic Edible Oil, Ghee</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="header-nav-middle">
                    <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                        <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                            <div class="offcanvas-header navbar-shadow">
                                <h5>Menu</h5>
                                <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                            data-bs-toggle="dropdown">Home</a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="index">Kartshop</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-2">Sweetshop</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-3">Organic</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-4">Supershop</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-5">Classic shop</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-6">Furniture</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-7">Search Oriented</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-8">Category Focus</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-9">Fashion</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                            data-bs-toggle="dropdown">Shop</a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="shop-category-slider">Shop
                                                    Category Slider</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-category">Shop
                                                    Category Sidebar</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-banner">Shop Banner</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-left-sidebar">Shop Left
                                                    Sidebar</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-list">Shop List</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-right-sidebar">Shop
                                                    Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-top-filter">Shop Top
                                                    Filter</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                            data-bs-toggle="dropdown">Product</a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="product-4-image">Product
                                                    4 Image</a>
                                            </li>
                                            <li class="sub-dropdown-hover">
                                                <a href="javascript:void(0)" class="dropdown-item">Product
                                                    Thumbnail</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="product-left-thumbnail">Left Thumbnail</a>
                                                    </li>

                                                    <li>
                                                        <a href="product-right-thumbnail">Right
                                                            Thumbnail</a>
                                                    </li>

                                                    <li>
                                                        <a href="product-bottom-thumbnail">Bottom
                                                            Thumbnail</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="product-bundle" class="dropdown-item">Product
                                                    Bundle</a>
                                            </li>
                                            <li>
                                                <a href="product-slider" class="dropdown-item">Product
                                                    Slider</a>
                                            </li>
                                            <li>
                                                <a href="product-sticky" class="dropdown-item">Product
                                                    Sticky</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown dropdown-mega">
                                        <a class="nav-link dropdown-toggle ps-xl-2 ps-0" href="javascript:void(0)"
                                            data-bs-toggle="dropdown">Mega Menu</a>

                                        <div class="dropdown-menu dropdown-menu-2">
                                            <div class="row">
                                                <div class="dropdown-column col-xl-3">
                                                    <h5 class="dropdown-header">Daily Vegetables</h5>
                                                    <a class="dropdown-item" href="shop-left-sidebar">Beans
                                                        &amp; Brinjals</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Broccoli
                                                        &amp; Cauliflower</a>

                                                    <a href="shop-left-sidebar" class="dropdown-item">Chilies,
                                                        Garlic</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Vegetables
                                                        &amp; Salads</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Gourd,
                                                        Cucumber</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Herbs
                                                        &amp; Sprouts</a>

                                                    <a href="demo-personal-portfolio" class="dropdown-item">Lettuce
                                                        &amp; Leafy</a>
                                                </div>

                                                <div class="dropdown-column col-xl-3">
                                                    <h5 class="dropdown-header">Baby Tender</h5>
                                                    <a class="dropdown-item" href="shop-left-sidebar">Beans
                                                        &amp; Brinjals</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Broccoli
                                                        &amp; Cauliflower</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Chilies,
                                                        Garlic</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Vegetables
                                                        &amp; Salads</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Gourd,
                                                        Cucumber</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Potatoes
                                                        &amp; Tomatoes</a>

                                                    <a href="shop-left-sidebar" class="dropdown-item">Peas
                                                        &amp; Corn</a>
                                                </div>

                                                <div class="dropdown-column col-xl-3">
                                                    <h5 class="dropdown-header">Exotic Vegetables</h5>
                                                    <a class="dropdown-item" href="shop-left-sidebar">Asparagus
                                                        &amp; Artichokes</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Avocados
                                                        &amp; Peppers</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Broccoli
                                                        &amp; Zucchini</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Celery,
                                                        Fennel &amp; Leeks</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar">Chilies &amp;
                                                        Lime</a>
                                                </div>

                                                <div class="dropdown-column dropdown-column-img col-3"></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                            data-bs-toggle="dropdown">Blog</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="blog-detail">Blog Detail</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="blog-grid">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="blog-list">Blog List</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown new-nav-item">
                                        <label class="new-dropdown">New</label>
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                            data-bs-toggle="dropdown">Pages</a>
                                        <ul class="dropdown-menu">
                                            <li class="sub-dropdown-hover">
                                                <a class="dropdown-item" href="javascript:void(0)">Email
                                                    Template <span class="new-text"><i
                                                            class="fa-solid fa-bolt-lightning"></i></span></a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a
                                                            href="../email-templete/abandonment-email">Abandonment</a>
                                                    </li>
                                                    <li>
                                                        <a href="../email-templete/offer-template">Offer
                                                            Template</a>
                                                    </li>
                                                    <li>
                                                        <a href="../email-templete/order-success">Order
                                                            Success</a>
                                                    </li>
                                                    <li>
                                                        <a href="../email-templete/reset-password">Reset
                                                            Password</a>
                                                    </li>
                                                    <li>
                                                        <a href="../email-templete/welcome">Welcome
                                                            template</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-dropdown-hover">
                                                <a class="dropdown-item" href="javascript:void(0)">Invoice
                                                    Template <span class="new-text"><i
                                                            class="fa-solid fa-bolt-lightning"></i></span></a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="../invoice/invoice-1">Invoice 1</a>
                                                    </li>

                                                    <li>
                                                        <a href="../invoice/invoice-2">Invoice 2</a>
                                                    </li>

                                                    <li>
                                                        <a href="../invoice/invoice-3">Invoice 3</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="404">404</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="about-us">About Us</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="cart">Cart</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="contact-us">Contact</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="checkout">Checkout</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="coming-soon">Coming Soon</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="compare">Compare</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="faq">Faq</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="order-success">Order
                                                    Success</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="order-tracking">Order
                                                    Tracking</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="otp">OTP</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="search">Search</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="user-dashboard">User
                                                    Dashboard</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="wishlist">Wishlist</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                            data-bs-toggle="dropdown">Seller</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="seller-become">Become a
                                                    Seller</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-dashboard">Seller
                                                    Dashboard</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-detail">Seller
                                                    Detail</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-detail-2">Seller
                                                    Detail 2</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-grid">Seller Grid</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-grid-2">Seller Grid
                                                    2</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-nav-right">
                    <button class="btn deal-button" data-bs-toggle="modal" data-bs-target="#deal-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-zap">
                            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
                        </svg>
                        <span>Deal Today</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>