<div class="onhover-dropdown header-badge">
    <button type="button" class="btn p-0 position-relative header-wishlist">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-shopping-cart">
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="20" cy="21" r="1"></circle>
            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6">
            </path>
        </svg>
        <span class="position-absolute top-0 start-100 translate-middle badge">2
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>

    <div class="onhover-div">
        <ul class="cart-list">
            <li class="product-box-contain">
                <div class="drop-cart">
                    <a href="product-left-thumbnail" class="drop-image">
                        <img src="../assets/images/vegetable/product/1.png"
                            class="blur-up lazyloaded" alt="">
                    </a>

                    <div class="drop-contain">
                        <a href="product-left-thumbnail">
                            <h5>Fantasy Crunchy Choco Chip Cookies</h5>
                        </a>
                        <h6><span>1 x</span> $80.58</h6>
                        <button class="close-button close_button">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            </li>

            <li class="product-box-contain">
                <div class="drop-cart">
                    <a href="product-left-thumbnail" class="drop-image">
                        <img src="../assets/images/vegetable/product/2.png"
                            class="blur-up lazyloaded" alt="">
                    </a>

                    <div class="drop-contain">
                        <a href="product-left-thumbnail">
                            <h5>Peanut Butter Bite Premium Butter Cookies 600 g
                            </h5>
                        </a>
                        <h6><span>1 x</span> $25.68</h6>
                        <button class="close-button close_button">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>

        <div class="price-box">
            <h5>Total :</h5>
            <h4 class="theme-color fw-bold">$106.58</h4>
        </div>

        <div class="button-group">
            <a href="cart" class="btn btn-sm cart-button">View Cart</a>
            <a href="checkout" class="btn btn-sm cart-button theme-bg-color
                text-white">Checkout</a>
        </div>
    </div>
</div>