<div class="timing">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
        <circle cx="12" cy="12" r="10"></circle>
        <polyline points="12 6 12 12 16 14"></polyline>
    </svg>
    <h6 class="name">Expires in :</h6>
    <div class="time" id="clockdiv-1" data-hours="1" data-minutes="2" data-seconds="3">
        <ul>
            <li>
                <div class="counter">
                    <div class="days">14</div>
                </div>
            </li>
            <li>
                <div class="counter">
                    <div class="hours">23</div>
                </div>
            </li>
            <li>
                <div class="counter">
                    <div class="minutes">57</div>
                </div>
            </li>
            <li>
                <div class="counter">
                    <div class="seconds">53</div>
                </div>
            </li>
        </ul>
    </div>
</div>